.icon__description {
  margin-top: 47px;
  font-family: "Inter";
  font-size: 22px;
  text-align: center;
  color: #808080;
  line-height: 26px;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .icon__description {
    font-size: 18px;
  }
}
